.navbar-brand img{
    height: 50px;
}
.nav{
    padding: 0px 20px;
}
.search{
    margin-right: 100px;
    border: 2px solid white;
    width: 370px;
    height: 44px;
    border-radius: 5px;
    background-color: transparent;
    color:#fff;
}
.btn{
   background-color: #F9A51A
}